* {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.container{
    border:1px solid black
}
.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  justify-content: space-around;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  background-color:white;
  z-index: 2;
}
label{
  font-weight: 550;
}

.input-div {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.input-div input {
  width: 200px;
  border: 0.5px solid grey;
  height: 25px;
  outline: none;
  padding-left: 5px;
}
::placeholder {
  color: grey;
  padding-left: 5px;
}
.btn {
  width: 200px;
  margin: 0 auto;
  height: 30px;
  border-radius: 10px;
  border: transparent;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  color: rgb(169,73,196);
}
.btn:hover{
    color: white;
    background-color: rgb(169,73,196)
}


.buttons{
    display: flex;
}
.main{
  /* background: url('https://img.freepik.com/premium-vector/realistic-neon-lights-vector-background_1162942-1321.jpg?w=1060') no-repeat; */
  background: linear-gradient(180deg, rgb(169,73,196), rgb(235,75,207));;
  /* background-size: cover;
  background-attachment: fixed; */
  height: 100vh;
  display: flex;
  align-items: center;
}
.container{
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    width: 80vw;
    background-color: white;
}

.left{
  background: url('https://images.unsplash.com/photo-1493219686142-5a8641badc78?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat;
  background-size:contain;
  background-attachment: fixed;
  width: 45vw;
  border-radius: 10px;
  height: 450px;
  margin: auto 0;

}
.head{
  margin:5.5em auto;
  text-align: center;
  font-style: italic;
}
.right{
  width: 50vw;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

